{% extends 'base.html' %}

{% block content %}
<a href="{% url 'auth_logout' %}" class="">Logout</a>
    {% for book in books %}
        <article>
            <h2>{{ book.title }}</h2>
            <p>{{ book.author|linebreaksbr }}</p>
            <p><a href="{{book.url}}">{{ book.url|linebreaksbr }}</a></p>
            <p>{{ book.description|linebreaksbr }}</p>
            <ul>
                {% for category in book.category.all %}
                <li><a href={% url 'show_category' slug=category.slug %}>{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </article>
    {% endfor %}
{% endblock %}